<!-- https://code-step.com/portfolio1-p2/ -->
<!-- https://code-step.com/demo/html/portfolio1/# -->
<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>成果物紹介ページ｜ポートフォリオサイト【福元望】</title>
    <meta name="description" content="LP練習" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="img/favicon.ico" />
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic" rel="stylesheet">
  </head>
  <body>
    <!-- ヘッダー -->
    <header id="header">
      <h1 class="site-title">
        <a th:href="@{/}">
         NF
        </a>
      </h1>
      
    </header>

    <main>
      <section id="works" class="wrapper">
        <h2 class="sec-title">Works</h2>
        <h3 class="sub-title">～事業所での成果物について～</h3>

        <div class="container">
          <div class="item">
            <img src="../img/works2_SP.jpg" alt="works02_SP" width="180px">
            <img src="../img/works2.jpg" alt="works02">
          </div>
          <div class="item">
            <p>
              インターン活動にて作成を行いました、母子健康手帳のWebアプリケーションになります。
            </p>
            <p>
              ログイン機能をはじめ、CRUD機能（データの閲覧、登録、更新ができる）、権限に応じて可能な操作の制限、を本アプリケーションに組み込みました。
            </p>
            <p>
              権限について、<br>「利用者（母子健康手帳をもつ母親）」と<br>「支援者（産婦人科など病院に勤務する医師の方）」で分けております。
            </p>
            <hr>
            <p>
              利用者の方と支援者の方でデザインUIをそれぞれ変更して対応しました。
              利用者の方は、PCよりもスマホでの閲覧機会が多いためスマホ推奨の見やすいシンプルなデザインとしました。
              一方で支援者の方は、各利用者ごとにすばやくデータを記入閲覧出来た方がよいためPC推奨で、なるべく一画面に必要情報がまとまるように工夫しました。
            </p>
            <hr>
            <p>今回のアプリは以下技術を使用して作成</p>
            <table>
              <thead>
                <tr>
                  <th>言語</th>
                  <th>Java</th>
                </tr>
                <tr>
                  <th>DB</th>
                  <th>PostgreSQL</th>
                </tr>
                <tr>
                  <th>フレームワーク</th>
                  <th>SpringBoot</th>
                </tr>
              </thead>
            </table>

          </div>
        </div>

        <div>
          <span>
            ソースコードは
            <a href="https://github.com/nozomu-fukumoto/demo" target="_blank" rel="noopener noreferrer">こちら</a>
            から
          </span>
          <hr>
          <span>
            デモ画面は
            <a href="https://intern-gixt.onrender.com" target="_blank" rel="noopener noreferrer">こちら</a>
            から
          </span>
        </div>

        <hr>
        <span>
          <a th:href="@{/}">トップページへ戻る</a>
        </span>
      </section>

    </main>

    <!-- Footer -->
    <footer id="footer">

    </footer>    

</html>